<template>
  <modal name="requestManualQuote" height="auto" :adaptive="true" :scrollable="true" @before-open="beforeOpen" @before-close="beforeClose" :clickToClose="false">
    <div class="details-modal">
      <div class="details-modal__header">
        <h4>Request Manual Quote</h4>
        <span class="details-modal__close" @click="$modal.hide('requestManualQuote')"><i class="icon-remove"></i></span>
      </div>
      <div class="details-modal__body">
        <div style="padding: 15px">
          <textarea
            class="input-block-level"
            style="height:150px"
            v-model="comment"
            placeholder="Please use this message box for comments, questions, or special application requirements. Thank you for your order — we will follow-up with you shortly."></textarea>
          <p>
            We will review your order and send you a quote.
            Please enter as many details and any questions you may have, and we will get back to you. Thanks!
          </p>
          <div class="row">
            <button style="float: right" class="btn btn-custom" @click="requestManualQuote">Request Manual Quote</button>
          </div>
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
  import axios from 'axios';

  export default {
    data() {
      return {
        comment: ''
      };
    },
    methods: {
      requestManualQuote() {
        if (!this.comment) return;
        const quoteId = $('#quoteId').val();
        const message = this.comment.trim();
        const payload = { message };
        axios.put(`/quotes/${quoteId}/comments`, payload).then((response) => {
          return axios.post(`/quotes/${quoteId}/manual`);
        }).then(() => {
          location.assign(`/quotes/${quoteId}/review`);
        });
      },
      beforeOpen() {
        this.comment = '';
        window.addEventListener('keydown', this.handleEscPress.bind(this));
      },
      beforeClose() {
        window.removeEventListener('keydown', this.handleEscPress.bind(this));
      },
      handleEscPress(event) {
        if (event.keyCode === 27) {
          this.$modal.hide('requestManualQuote');
        }
      }
    }
  }
</script>