<template>
  <div>
    <div v-if="partsLoading">
      <div style="text-align: center">
        <img :src="loader"> <strong>Parts processing...</strong>
      </div>
    </div>
    <div v-else>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Preview</th>
          <th>Dimensions</th>
          <th>Material</th>
          <th>Finish</th>
          <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="part in parts">
          <part-header @delete-part="deletePart" :part="part"></part-header>
          <part-info @show-modal="showModal" :part="part"></part-info>
        </template>
        <parts-empty v-if="partsRequested && !parts.length"></parts-empty>
        </tbody>
      </table>
    </div>
    <quote-actions :partsLength="parts.length" @review-quote="reviewQuote"></quote-actions>
    <processes-modal @select-process="selectProcess" :selectedPart="selectedPart"></processes-modal>
    <materials-modal @select-material="selectMaterial" :selectedPart="selectedPart"></materials-modal>
    <review-quote-modal></review-quote-modal>
  </div>
</template>
<script>
  import axios from 'axios';

  import PartsEmpty from './components/PartsEmpty.vue';
  import PartHeader from './components/part/PartHeader.vue';
  import PartInfo from './components/part/PartInfo.vue';
  import QuoteActions from './components/QuoteActions.vue';
  import MaterialsModal from './components/modals/MaterialsModal.vue';
  import ProcessesModal from './components/modals/ProcessesModal.vue';
  import MaterialWarning from './components/MaterialWarning.vue';
  import ReviewQuoteModal from './components/modals/ReviewQuoteModal.vue';

  import loader from '../../images/smart-quote-loader.gif';

  export default {
    data() {
      return {
        parts: [],
        partsRequested: false,
        partsLoading: true,
        quoteId: '',
        selectedPart: null,
        timer: null,
        loader
      };
    },
    created() {
      this.quoteId = location.pathname.split('/')[2];
      axios.get(`/quotes/${this.quoteId}/parts/streamics/status`).then((response) => {
        const totalFiles = response.data.total;
        const processedFiles = response.data.processed;
        if (totalFiles) {
          if (totalFiles === processedFiles) {
            axios.get(`/quotes/${this.quoteId}/parts`).then((response) => {
              const { data } = response;
              if (data instanceof Array && data.length) {
                this.parts = data;
                this.partsRequested = true;
                this.partsLoading = false;
              }
            });
          } else {
            setTimeout(() => {
              this.checkStatus(this.quoteId);
            }, 2000);
          }
        } else {
          this.partsRequested = true;
        }
      });
    },
    methods: {
      checkStatus(quoteId) {
        axios.get(`/quotes/${quoteId}/parts/streamics/status`).then((response) => {
          const totalFiles = response.data.total;
          const processedFiles = response.data.processed;
          if (totalFiles) {
            if (totalFiles === processedFiles) {
              return axios.get(`/quotes/${this.quoteId}/parts`).then((response) => {
                const { data } = response;
                if (data instanceof Array && data.length) {
                  this.parts = data;
                  this.partsRequested = true;
                  this.partsLoading = false;
                }
              });
            }
          }
          this.timer = setTimeout(() => {
            this.checkStatus(quoteId);
          }, 2000);
        });
      },
      showModal({ part, type }) {
        this.selectedPart = {...part};
        setTimeout(() => {
          this.$modal.show(type);
        }, 10);
      },
      selectProcess(process) {
        if (this.selectedPart) {
          const part = this.parts.find(p => p.id === this.selectedPart.id);
          if (part) {
            part.process_id = process.id;
            part.process = {...process};
            part.finish = this.getDefaultFinish(process.name);
            const material = this.getDefaultMaterial(process.name, process.materials);
            part.material_id = material.id;
            part.material = material;
            this.$modal.hide('processesModal');
          }
        }
      },
      selectMaterial(material) {
        if (this.selectedPart) {
          const part = this.parts.find(p => p.id === this.selectedPart.id);
          if (part) {
            part.material_id = material.id;
            part.material = {
              id: material.id,
              name: material.name,
              title: material.title
            };
            this.$modal.hide('materialsModal');
          }
        }
      },
      reviewQuote() {
        if (!this.parts.length) return;
        const payload = {
          parts: this.parts
        };
        axios.put(`/quotes/${this.quoteId}/parts`, payload).then((response) => {
          axios.post(`/quotes/${this.quoteId}/review/begin`).then((response) => {
            this.$modal.show('reviewQuote', {
              totalFiles: response.data.total
            });
          });
        });
      },
      deletePart(part) {
        axios.delete(`/quotes/${this.quoteId}/parts/${part.id}`).then((response) => {
          this.$toasted.success(`${part.name} has been deleted`, { duration: 5000 });
          this.parts = this.parts.filter(p => p.id !== part.id);
        });
      },
      getDefaultFinish(processName) {
        switch (processName) {
          case 'polyjet':
            return 'glossy';
          case 'fdm':
          case 'sls':
          case 'sla':
            return 'standard';
          case 'cnc':
          case 'uc':
            return 'manual';
        }
      },
      getDefaultMaterial(processName, materials) {
        switch (processName) {
          case 'polyjet':
            return materials.find((m) => {
              return m.name === 'First Available Vero';
            });
          case 'fdm':
            return materials.find((m) => {
              return m.name === 'ASA (White)';
            });
          case 'sls':
            return materials.find((m) => {
              return m.name === 'SLS White';
            });
          case 'sla':
            return materials.find((m) => {
              return m.name === 'White';
            });
          case 'cnc':
            return materials.find((m) => {
              return m.name === 'Aluminum 6061';
            });
          case 'uc':
            return materials.find((m) => {
              return m.name === 'ABS-Sim';
            });
        }
      }
    },
    components: {
      PartsEmpty,
      PartHeader,
      PartInfo,
      QuoteActions,
      MaterialsModal,
      ProcessesModal,
      MaterialWarning,
      ReviewQuoteModal
    }
  }
</script>