<template>
  <modal @opened="opened" @before-open="beforeOpen" @before-close="beforeClose" name="getQuote" :reset="true" :clickToClose="false" height="auto" :adaptive="true">
    <div class="details-modal">
      <div class="details-modal__header">
        <h4>Processing Files &mdash; Please Wait...</h4>
        <span class="details-modal__close" @click="$modal.hide('getQuote')"><i class="icon-remove"></i></span>
      </div>
      <div class="details-modal__body">
        <div class="details-modal__get-quote">
          <img :src="loader" style="float:left; margin-right:20px; margin-bottom:10px;"/>
          <p>
            SmartQuote is reviewing your files (any uploads other than .STL may take longer). Thank you for your
            patience.
          </p>
          <div class="progress progress-striped active">
            <div class="bar" id="process_progress" :style="processStyle"></div>
          </div>
          <div id="process_status">{{ processedFiles }} files processed.</div>
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
  import loader from '../../../images/smart-quote-loader.gif';
  import axios from 'axios';

  export default {
    data() {
      return {
        loader: loader,
        totalFiles: 0,
        processedFiles: 0,
        timer: null,
        source: null,
        requestSent: false
      }
    },
    methods: {
      opened() {
        const CancelToken = axios.CancelToken;
        this.source = CancelToken.source();
        const quoteId = location.pathname.split('/')[2];
        this.timer = setTimeout(() => {
          this.checkStatus(quoteId);
        }, 2000);
      },
      beforeOpen(event) {
        this.totalFiles = event.params.totalFiles;
        this.processedFiles = event.params.processedFiles;
        this.requestSent = false;
      },
      checkStatus(quoteId) {
        this.requestSent = true;
        axios.get(`/quotes/${quoteId}/parts/streamics/status`, { cancelToken: this.source.token }).then((response) => {
          this.requestSent = false;
          this.totalFiles = response.data.total;
          this.processedFiles = response.data.processed;
          if (this.totalFiles) {
            if (this.totalFiles === this.processedFiles) {
              return location.assign(`/quotes/${quoteId}/details`);
            }
          }
          this.timer = setTimeout(() => {
            this.checkStatus(quoteId);
          }, 2000);
        });

      },
      beforeClose() {
        if (this.requestSent) {
          this.source.cancel();
        }
        if (this.timer) {
          clearTimeout(this.timer);
          this.timer = null;
        }
      }
    },
    computed: {
      processStyle() {
        if (!this.totalFiles) {
          return {
            width: '0%'
          };
        }
        const width = (this.processedFiles / this.totalFiles) * 100;
        return {
          width: `${width}%`
        };
      }
    }
  }
</script>