<template>
  <div class="sq-uploader-progresscontainer">
    <span @click="deleteCad" v-if="canDelete" class="sq-uploader-delete">&times;</span>
    <div class="sq-uploader-progressstart"></div>
    <div class="sq-uploader-progresspercent">
      File: {{ file.name }} ({{ fileSize }}) {{ uploaded }}%
    </div>
    <br />
    <progress
      class="sq-uploader-progressbar sq-uploader-progress_background sq-uploader-progress_background_animation"
      :value="uploaded"
      max="100">
    </progress>
    <div class="sq-uploader-annotation">
      <div v-if="file.uploadError">
        <span class="sq-uploader-speed">
          File upload error. Please <a @click.prevent="reupload" href="#">try again</a>
        </span>
      </div>
      <div v-else>
        <span class="sq-uploader-speed" v-if="file.isUploaded">
          Upload Complete!
        </span>
        <span v-else>
          Uploading...
        </span>
      </div>
    </div>
  </div>
</template>
<script>
  import prettyBytes from 'pretty-bytes';
  import axios from 'axios';

  export default {
    props: {
      file: {
        type: Object,
        required: true
      }
    },
    computed: {
      uploaded() {
        if (!this.file.loaded) return 0;
        return ((this.file.loaded / this.file.total) * 100).toFixed(2);
      },
      fileSize() {
        return prettyBytes(this.file.total);
      },
      canDelete() {
        return this.file.isUploaded || this.file.uploadError;
      }
    },
    methods: {
      reupload() {
        const formData = new FormData();
        formData.append('cad', this.file.file);

        axios.post(`/quotes/${this.file.quoteId}/upload`, formData, {
          onUploadProgress: (event) => {
            const { total, loaded } = event;
            this.file.total = total;
            this.file.loaded = loaded;
          }
        }).then((response) => {
          this.file.loaded = this.file.total;
          this.file.isUploaded = true;
          this.file.uploadError = false;
          if (response.data instanceof Array) {
            this.file.partId = response.data.map((item) => {
              return item.id;
            });
          } else {
            if (response.data.id) {
              this.file.partId = response.data.id;
            }
          }
        }, (err) => {
          this.file.uploadError = true;
          this.file.isUploaded = false;
        });
      },
      deleteCad() {
        this.$emit('delete-cad', this.file.partId, this.file.id);
      }
    }
  }
</script>