<template>
  <div style="margin:auto; width: 400px" class="alert alert-block alert-info multi-material-text" >
    <h4 class="alert-heading">Multi-material parts require a manual quote</h4>
    Please click “Request Manual Quote” below &mdash; a specialist will review and approve your quote.  
  </div>
</template>
<script>
  export default {

  }
</script>