<template>
  <div class="alert alert-error" style="height:20px;">
    <p>
      <i><strong>Please Note:</strong>
        Minimum recommended feature size is 1 mm (0.040 in.)
        Accuracy of features smaller than 1 mm is not guaranteed.
      </i>
    </p>
  </div>
</template>
<script>
  export default {

  }
</script>