<template>
  <tr>
    <td colspan="6">
      <div class="alert alert-block alert-error" style="margin-top: 20px;">
        <h4 class="alert-heading">Oops, no files were found!</h4>
        <p>
          Your order currently has no files that can be
          processed, please
          <a :href="url">add some new files</a>.
        </p>
      </div>
    </td>
  </tr>
</template>
<script>
  export default {
    data() {
      return {
        quoteId: ''
      };
    },
    mounted() {
      this.quoteId = location.pathname.split('/')[2];
    },
    computed: {
      url() {
        return `/quotes/${this.quoteId}/upload`;
      }
    }
  }
</script>