<template>
  <div class="actions" style="margin-top:20px">
    <parts-note></parts-note>
    <div class="alert alert-info">
      <h4>Request Expedited Lead-Time</h4>
      <p>
        FATHOM can expedite most orders, <strong>often as soon as same-day or next-day.</strong>
        Additional fees may apply. Check the box below to request expedited lead-time&mdash;
        <strong>a specialist will contact you via email or phone</strong>
        to discuss your request within 1 hour (during regular business hours).
      </p>
      <p>
        <label class="checkbox">
          <input type="checkbox" value="contact_me" />
          <strong>YES</strong> &mdash; please contact me to discuss expediting this order!
        </label>
      </p>
    </div>
    <button class="btn btn-custom" @click="uploadMoreFiles">
      <i class="icon-upload icon-white"></i> Upload more files
    </button>
    <span class="pull-right">
      <button :disabled="!partsLength" type="button" :class="{ 'btn-custom': partsLength }" class="btn" @click="$emit('review-quote')">
        Review Quote
      </button>
    </span>
  </div>
</template>
<script>
  import PartsNote from './PartsNote.vue';

  export default {
    props: {
      partsLength: {
        type: Number,
        required: true
      }
    },
    methods: {
      uploadMoreFiles() {
        const quoteId = location.pathname.split('/')[2];
        location.assign(`/quotes/${quoteId}/upload`);
      }
    },
    components: {
      PartsNote
    }
  }
</script>