h3.first {
  padding-top: 0px;
}

h3 {
  padding-top: 20px;
}

.welcome {
  font-family: 'Varela Round', sans-serif !important;
  font-size: 24px;
  color: black;
  line-height: 20px;
}

.homeheader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: black;
  font-family: 'Varela Round', sans-serif !important;
}

.btn-profile {
  margin-left: 180px;
  padding-left: 30px;
  padding-right: 30px;
}

.leftspace {
  margin-left: 0px;
}