h3.first {
  padding-top: 0px;
}

h3 {
  padding-top: 20px;
}

.btn {
  background-image: none !important;
  text-shadow: none !important;
}

.quote_btn {
  border-radius: 5px;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  background-color: #00c1d5 !important;
  color: white !important;
  font-family: 'Varela Round', sans-serif !important;
  display: block;
}

.homeheader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 24px;
  padding-bottom: 11px;
  margin-bottom: 20px;
  color: black;
  font-family: 'Varela Round', sans-serif !important;
}

.welcome {
  font-family: 'Varela Round', sans-serif !important;
  font-size: 17px;
  line-height: 20px;
}

.approve {
  background-image: url("../images/approved-stamp.png");
  background-repeat: no-repeat;
  background-position: 310px 65px;
}

.account-block {
  position: relative;
}

.account-block__avatar {
  display: inline-block;
  margin-right: 15px;
  img {
    max-width: 100%;
  }
}

.account-block__text {
  font-size: 18px;
  display: inline-block;
}