#nevada-small-cart	{
  background-color: #666666;
  border-top-color: #333;
  border-top-style: solid;
  border-top-width: 4px;
}

#header {
  clear: both;
  padding: 30px 0 0 0;
  background-color: #FFFFFF;
  position: relative;
}
.h-right {
  padding:0;
  text-align:right;
  float:right;
  margin: 0 10px 0 0;
}
.h-right .widget-title {
  text-align:left;
  margin-bottom:10px;
}
h.right .widget_text {
  text-align:left;
}
.h-right > div {
  padding:0;
  margin:0 0 0 20px;
  float:right;
}
#logo h1 {
  margin: 0;
  padding: 0;
  line-height: 32px;
  font-size:32px;
  color:#333333;
}
#logo {
  float:left;
  margin: 0 0 0 10px;
  padding:0;
  line-height: 1.5em;
}
#logo img {
  display:inline-block;
}
#header #logo a:hover,
#header #logo a:focus {
  border:none !important;
}
.top-header-tagline {
  margin:0;
  font-weight:bold;
  line-height:32px;
  display:inline-block;
  float:left;
  color:#333333;
}
ul.social-icons {
  margin:0;
  list-style:none;
  display:block;
  line-height:0;
}
ul.social-icons li {
  display:inline-block;
  margin:0 0 0 5px;
  width:32px;
  height:32px;
}
ul.social-icons img {
  width:32px;
  height:32px;
}
ul.social-icons a {
  display:block;
  height:100%;
  width:100%;
  line-height:0;
}
#sidebar ul.social-icons li,
#sidebar_second ul.social-icons li,
#footer ul.social-icons li {
  margin:0 5px 5px 0 !important;
}
#footer ul.social-icons {
  margin-bottom:20px;
}



/* Body */
body {
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #ffffff;
  color: #666666;

}

a {
  color: #00acee;
}
a:hover	{
  color: #333333;
  text-decoration: none;
}


/* Navigation Bar */
.nav-wrap {
  background-color:#FFFFFF;
  border-bottom: 1px solid #D9D9D9;
}
#navigation {
  float:left;
  margin:0 10px 0 10px;
}

#navigation ul {
  position: relative;
  width:100%;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
#navigation ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#navigation ul li {
  position: relative;
  display:block;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  font-size: 13px !important;

}

#navigation ul li a {
  padding:0;
  text-decoration: none;
  display:block;
  letter-spacing:1px;
  height:78px;
  line-height:78px;
  margin-left:30px;
  color: #333333;
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  text-transform: uppercase;
  font-size: 12px !important;
}
#navigation ul li:hover	{
  color: #00ACEE;
  text-decoration: none;
}
#navigation ul li a:hover	{
  color: #00ACEE;
  text-decoration: none;
}
#navigation ul li ul li a {
  font-weight:normal !important;
}
.naviline {
  position:absolute;
  top:30px;
  left:12px;
  border-left:1px solid #D9D9D9;
}

#navigation ul li:first-child a,
#navigation ul li:first-child ul.sub-menu {
  margin:0 ;
}



li.page_item, li.menu-item {
  list-style: none;
}
li.menu-item ul.sub-menu {
  list-style: none;
  margin-left:0;
}





.container {
  color: #666666;
  width: 960px !important;
}

.container > h1 {
  font-family: "Lucida Grande", sans-serif;
  font-size:26px;
  line-height:46px;
  font-weight:bold;
  text-rendering: optimizelegibility;
}
.login-form-toggle {
  text-align: right;
}

.footer {
  text-align:center;
  padding:10px;
}

.alert-yellow {
  margin:10px auto 0;
  border-color:#fbf01b ;
  background-color:#fbf01b;
  color:#000
}

.well-white{
  color:#666;
  min-height:20px;
  padding:19px;
  margin-bottom:20px;
  background-color:#fff;
  border:1px solid #eee;
  border:1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  margin-left:0;
}
.well-white blockquote{border-color:#ddd;
  border-color:rgba(0, 0, 0, 0.15);
}


/* smart quote process */
.quote-process {
  margin:auto;
  text-align:center;
}

.quote-process span {
  display:inline-block;
  margin:0px 20px;
  font-family: 'Varela Round', sans-serif;
}

.overview-table .file-list {
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  width:480px;
}

.overview-table .img-previews img {
  width:30px;
  margin:2px 4px;
  display:inline-block;
}

.overview-table .count {width:40px}
.overview-table .key {width:30px}
.overview-table .price {width:80px}
.overview-table .updated {width:90px}
.overview-table .removed {width:90px}
.overview-table .removed ul {
  list-style:none;
  padding:0;
  margin:0
}
.overview-table .removed i {
  display:inline-block;
  margin-right:4px;
  vertical-align:middle;
}
.overview-table .status {width:80px}

.user-toolbar {
  width: 960px;
  margin: auto;
  text-align:left;
}

/* upload styles */
.upload-section {
  margin:15px 0px;
  color:#333;
}
.modal,
.popover {
  color: #333;
}
.upload-section .heading{
  background-color:#eee;
  border:1px solid #bbb;
  border-bottom-width:0px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-image: url("../images/smart-quote.png");
  background-position: center center;
  background-repeat: no-repeat;
  height:40px;
}
.upload-section .upload-files {
  min-height:250px;
  background-color:#fff;
  border:1px solid #bbb;
  border-top-width:0px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}


div.upload-section {
  div.upload-files.hover {
    background-color: #f6f6f6;
  }
}

.progress-alt {
  overflow: hidden;
  height: 18px;
  margin-bottom: 5px;
  background-color: #F7F7F7;
  background-image: -moz-linear-gradient(to top, whiteSmoke, #F9F9F9);
  background-image: -ms-linear-gradient(to top, whiteSmoke, #F9F9F9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(whiteSmoke), to(#F9F9F9));
  background-image: -webkit-linear-gradient(to top, whiteSmoke, #F9F9F9);
  background-image: -o-linear-gradient(to top, whiteSmoke, #F9F9F9);
  background-image: linear-gradient(to top, whiteSmoke, #F9F9F9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.progress-alt>.progress {
  width:0%;
  height: 18px;
  color: white;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -ms-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;

  background-color: #62C462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}

#log {
  list-style: none;
}
.file-upload-status {
  width:45%;
  float:left;
  border:1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin:5px;
  padding:5px;
}

/* quote_detail styles */
.item-actions {
  display: none;
}

.table td.item-picture {
  text-align: center;
  vertical-align: middle;
}

.item-picture {
  background-color:#fff;
  min-width:120px;
}
.item-picture img {
  height: 120px;
  border:1px solid #ddd;
  -webkit-box-shadow:0 0px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow:0 0px 4px rgba(0, 0, 0, 0.15);
  box-shadow:0 0px 4px rgba(0, 0, 0, 0.15);
}

.item-name div {
  margin:5px 10px;
  float:left;
}
.all-parts {
  text-align: center;
}

.quote-total {
  text-align:center !important;
}

.error {
  color: #B94A48;
}

#tabbar {
  height: 47px;
  display: inline-block;
  padding: 0px;
  overflow: hidden;
  margin: 0px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#tabbar a {
  font-weight: bold;
  color: #444;
  font-size: 16px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 17px;
  display: block;
  height: 30px;
}
#tabbar a:hover {
  background: rgba(140, 209, 225, 0.6);
}
#tabbar ul li a:hover {
  background: none;
}
#tabbar ul li a {
  height: auto;
  padding: 0px;
  font-weight: normal;
  font-size: 12px;
}
#tabbar {
  height: 47px;
  display: inline-block;
  padding: 0px;
  overflow: hidden;
  margin: 0px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.dmenu {
  text-align: left;
  position: absolute;
  margin: 29px 0px 0px 0px;
  list-style: none;
}
.tab, .tabselected {
  float: left;
  height: 47px;
  border-right: 1px solid #999;
  list-style-type: none;
}


.tabselected {
  background: rgba(140, 209, 225, 0.6);
  color: #495D5C;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

/* nav styles */
#menu-navigation-bar {float:right;}
#menu-navigation-bar li a {
  padding:15px 15px 19px 15px;
  font-size:13px;
  line-height:16px;
  font-family:sans-serif;

}
.sf-menu li {
  float: none;
  display: inline-block;
}

.sf-menu{
  float: none;
}
.sf-menu {
  float: center;
  text-align: center;
  text-transform: uppercase;
}
.sf-menu li {
  float: right;
  display: inline-block;
}
.sf-menu li:last-child{
  border-left: 0px solid #212121;
}

/* NAVIGATION */
.sf-menu > li > a strong {
  color: #F6F6F6;
}

.sf-menu > li {
  background: #242424;
  border-top: 3px solid rgba(0,0,0, 0.000001);
  border-left: 0px solid rgba(255, 255, 255, 0);
  border-right: 0px solid #212121;
}

.sf-menu > li:hover {
  background: #FFED00;
  background: rgba(0,0,0,0.3);
  -webkit-box-shadow:inset 0 -3px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:inset 0 -3px 2px rgba(0,0,0,0.2);
  -o-box-shadow:inset 0 -3px 2px rgba(0,0,0,0.2);
  box-shadow:inset 0 -3px 2px rgba(0,0,0,0.2);
}

.sf-menu > li:hover strong {color: #FFED00 !important;}
.sf-menu > li:hover span {color: #FFED00 !important;}

.sf-menu > li:hover{
  border-top: 2px solid #FFED00;
  border-left: 0px solid rgba(255, 255, 255, 0);
  border-right: 0px solid #222;
}



.popselect {
  margin: 0;
}

.popselect td {
  cursor: pointer;
}

#materialSelector .pagination {
  margin: 0;
}

#materialSelector .popselect td {
  cursor: pointer;
}


/* Sub-Footer */

#sub-footer-wrap {
  padding: 0 0 0 0;
  clear:both;
  zoom: 1;
}

.container-footer {
  background-color:#242424;
  width: 100% !important;
}

.column, .columns                           { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.container .eight.columns                   { width: 460px; }
.container .sixteen.columns                 { width: 100%; color:#666666;}

.column.alpha, .columns.alpha               { margin-left: 0; }

.copyright,
.unitedthemes {
  text-align:left;
  padding-top:20px;
}
.unitedthemes {
  text-align:right;
}

.unitedthemes a,
.copyright a {
  color:#666666;
}


.clearfix {
  zoom: 1;
}


.clearfix:after {
  width: 0px;
  display: block;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '\0020';
}


/* Redesign Phase 1 Styles */
/* Header Styles */


a{
  text-shadow: none !important;
  color: #00c1d5 ;
}

.navbar-nav li{
  line-height: 70px !important;
  font-family: 'Varela Round', sans-serif !important;
  font-size:12px !important;
}

.navbar .nav > li > a {
  padding: 0px 15px !important;
  text-shadow: none !important;
}

.navbar-nav.navbar-right:last-child{
  margin-right:0 !important;
}

.navbar-brand,
.navbar-nav li a{
  line-height: 70px !important;
  height: 70px !important;
  padding-top: 0 !important;
  color:#000 !important;
}

.navbar-brand{
  float:left !important;
}

.navbar-nav li a:hover {
  line-height: 70px !important;
  height: 70px !important;
  padding-top: 0 !important;
  color:#fff !important;
  background-color:#00C1D5 !important;
}

.navbar-nav li button{
  margin-left:20px !important;
  margin-right:20px !important;
  vertical-align: middle !important;
}

div.navbar div.navbar-inner ul.nav a:hover {
  color: #fff !important;
}

.btn{
  background-image: none !important;
  text-shadow: none !important;
}

.btn-custom{
  background-color:#00C1D5 !important;
  color: white !important;
}

.btn-custom:disabled{
  background-color:#e6e6e6 !important;
  color: white !important;
}

.btn-custom:hover{
  background-color:#000 !important;
  color: white !important;
}

.nav .active a{
  box-shadow: none !important;
}

.navbar-nav li.active {
  box-shadow: none !important;
}

.navbar-nav li.active a {
  background-color: #FFED00 !important;
  text-decoration: underline !important;
}

.navbar-nav li.active a:hover{
  line-height: 70px !important;
  height: 70px !important;
  padding-top: 0 !important;
  color:#fff !important;
  background-color:#00C1D5 !important;
}

.navbar-right{
  float:right !important;
}

.navbar{
  margin-bottom: 0px !important;
}

.log{
  color: white;
  font-family: 'Varela Round', sans-serif !important;
  font-size:12px !important;
  float:right;
  margin-right:10px;
}

.log a{
  color: white;
}

.log-banner{
  background-color:black;
}

.nav-banner{
  background-color:#FFED00;
}




/* Footer Styles */
.container{
  width:960px !important;
}

.navbar-nav li{
  line-height: 70px;
  font-family: 'Varela Round', sans-serif;
  font-size:14px;
}

.navbar-nav.navbar-right:last-child{
  margin-right:0;
}

.navbar-brand,
.navbar-nav li a{
  line-height: 70px;
  height: 70px;
  padding-top: 0;
  color:#000;
}

.navbar-nav li a:hover {
  line-height: 70px;
  height: 70px;
  padding-top: 0;
  color:#fff;
  background-color:#00C1D5;
}

.navbar-nav li button{
  margin-left:30px;
  vertical-align: middle;
}

div.navbar div.navbar-inner ul.nav a:hover {
  color: #fff !important;
}

.navbar-static-bottom {
  font-size: 12px;
  line-height: 18px;
}

.navbar-static-bottom .navbar-inner {
  min-height: 22px;
}

.navbar-static-bottom .p {
  margin: 2px 0 2px;
}

.navbar-static-bottom{
  background-color:#F2F2F2;
  margin-bottom:0px;
  border-radius: 0px;
}

.navbar-static-bottom .navbar-inner {
  background-image: url("../images/smart-quote-footer-triangle-pattern.jpg");
  background-repeat: repeat-x;
  background-attachment: 50% 0%;
}

.footer-top {
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height:169px;
  padding-top:30px;
  color:black !important;
}

.footer-top li{
  margin-bottom:3px;
}

.footer-top li > a{
  text-decoration:none;
  color:black;
}

.footer-top a:hover{
  text-decoration:underline;
  color:black;
}


.footer-copy {
  background-color: #FFF;
  font-family: 'Varela Round', sans-serif;
  font-size: 10px;
  width: 100%;
}

.footer-hr{
  margin-top: 10px;
  background-image: url("../images/footer-top.gif");
  background-repeat: repeat-x;
  height: 30px;
}

p.location {
  line-height: 16px;
  color: black;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:11px;
}

p.location-title{
  line-height: 16px;
  font-family: 'Varela Round', sans-serif;
}

p.location a{
  color: black;
}

p.location a:hover{
  text-decoration: underline;
}

.alert-yellow {
  background-color: #fbf01b !important;
  border-color: #fbf01b !important;
  color: #000 !important;
  margin: 10px auto 0;
}


.alert-info {
  background-color: #f5f5f5;
  border-color: transparent;
  color: #666666;
}

.alert-info h4{
  color: #666666;
}


h1, h2, h3, h4, legend {
  font-family: 'Varela Round', sans-serif !important;
}

.btn{
  font-family: 'Varela Round', sans-serif !important;
}


a{
  text-shadow: none !important;
  color: #00c1d5;
}


.navbar-nav li{
  line-height: 70px !important;
  font-family: 'Varela Round', sans-serif !important;
  font-size:12px !important;
}



.navbar .nav > li > a {
  padding: 0px 10px !important;
  text-shadow: none !important;
}


.navbar-nav.navbar-right:last-child{
  margin-right:0 !important;
}


.navbar-brand,
.navbar-nav li a{
  line-height: 70px !important;
  height: 70px !important;
  padding-top: 0 !important;
  color:#000 !important;
}

.navbar-brand{
  float:left !important;
}



.navbar-nav li a:hover {
  line-height: 70px !important;
  height: 70px !important;
  padding-top: 0 !important;
  color:#fff !important;
  background-color:#00C1D5 !important;
}

.navbar-nav li button{
  margin-left:20px !important;
  margin-right:20px !important;
  vertical-align: middle !important;
}

div.navbar div.navbar-inner ul.nav a:hover {
  color: #fff !important;
}

.btn {
  background-image: none !important;
  text-shadow: none !important;
}

.btn-custom {
  background-color:#00C1D5 !important;
  color: white !important;
}

.btn-custom:hover {
  background-color:#000 !important;
  color: white !important;
}

ul.navbar-nav li.active {
  box-shadow: none !important;
  text-decoration: underline !important;
}

.navbar-nav li.active a:hover{
  line-height: 70px !important;
  height: 70px !important;
  padding-top: 0 !important;
  color:#fff !important;
  background-color:#00C1D5 !important;
}

.navbar-right{
  float:right !important;
}

.navbar{
  margin-bottom: 0px !important;
}

.log{
  color: white;
  font-family: 'Varela Round', sans-serif !important;
  font-size:12px !important;
  float:right;
  margin-right:10px;
}

.log a {
  color: white;

}

.assistly-widget{
  display: block;
  margin-left: 960px;
  position: absolute;
  top: 35px;
}

.assistly-widget a.a-desk-widget-chat  {
  display: block;
  background: url("../images/button_live_chat.png") no-repeat transparent !important;
  background-size: 104px 44px !important;
  background-position: bottom !important;
  height: 44px !important;
  width: 104px !important;
}

.assistly-widget a.a-desk-widget-chat:hover {
  background: url("../images/button_live_chat_button.png") no-repeat transparent !important;
  background-position: 0px 0px !important;
}

.assistly-widget a.a-desk-widget-email  {
  display: block;
  background: url("../images/button_ask_us.png") no-repeat transparent !important;
  background-size: 80px 44px !important;
  background-position: bottom !important;
  height: 44px !important;
  width:  80px !important;
}

.assistly-widget a.a-desk-widget-email:hover {
  background: url("../images/button_ask_us_hover.png") no-repeat transparent !important;
  background-position: 0px 0px !important;
}

.a-desk-widget{
  width: 170px !important;
  height: 50px !important;
  background: none;
}

.main-header {
  color: #00c1d5;
}

.body_container{
  min-height: 100% !important;
}

.account-settings-nav {
  a.active {
    text-decoration: underline !important;
  }
}
.quote-process {
  margin-top: 30px;
}
.quote-process span.active {
  color: #00c1d5;
}
.tooltip {
  display: block !important;
  z-index: 10000;
  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }
  &[x-placement^="top"] {
    margin-bottom: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="bottom"] {
    margin-top: 5px;
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="right"] {
    margin-left: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^="left"] {
    margin-right: 5px;
    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }
  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
  &.info {
    $color: #fff;
    .tooltip-inner {
      background: $color;
      color: #666;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
      max-width: 250px;
      font-size: 14px;
    }
    .tooltip-arrow {
      border-color: $color;
    }
  }
  &.popover {
    $color: #f9f9f9;
    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }
    .popover-arrow {
      border-color: $color;
    }
  }
}
.details-modal {
  .details-modal__header {
    border-bottom: 1px solid #eee;
    padding: 5px 15px;
    position: relative;
  }
  .details-modal__close {
    position: absolute;
    right: 15px;
    top: 15px;
    i {
      &:hover {
        cursor: pointer;
      }
    }
  }
  .details-modal__body {
    table {
      width: 100%;
    }
  }
  .details-modal__item {
    border-bottom: 1px solid #f1f1f1;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      cursor: pointer;
      background-color: #f6f6f6;
      user-select: none;
    }
    td {
      padding: 10px 15px;
    }
    td:first-child {
      border-right: 1px solid #f1f1f1;
      text-align: center;
    }
  }
  .details-modal__item_active {
    background-color: #f6f6f6;
  }
  .details-modal__btn {
    background-color: #00C1D5;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    padding: 5px 10px;
    &:hover {
      cursor: pointer;
      background-color: darken(#00C1D5, 10%);
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .details-modal__description-text {
    margin-top: 10px;
  }
}
.details-modal__get-quote {
  padding: 15px;
}
.spinner-container {
  height: 301px;
  box-sizing: border-box;
  padding-top: 135px;
  display: none;
}
.spinner-container[v-cloak] {
  display: block;
}
.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #00c1d5;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}