h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 28px;
}

h4 {
  font-size: 16px;
  line-height: 22px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h3.first {
  padding-top: 0px;
}

h3 {
  padding-top: 20px;
}

.homeheader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: black;
}

.landheader {
  font-family: "Varela Round",sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #00c1d5;
  border-color: #e5e5e5;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.landbold {
  font-size: 20px;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.leadhead {
  font-size: 18px;
}

.leadtime {
  margin-top: 10px;
  line-height: 18px;
}

.landtext {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: black;
}

.bluehead {
  font-family: "Varela Round", sans-serif;
  color: #00c1d5;
  font-size: 24px;
  margin-bottom: 10px;
  background-color: white;
  display: inline-block;
}

.btn-pull {
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-center {
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.hgray {
  background-color: transparent;
  background-image: url("../images/smartquote-horizontal-pattern-grey-808080.png");
  background-repeat: repeat-x;
  min-height: 30px;
  line-height: 30px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.printhead {
  font-family: "Varela Round", sans-serif;
  font-size: 19px;
  color: black;
}

.printsub {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
}

.bodytext {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.knowledgecenter {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: black;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  border-collapse: separate;
  margin-bottom: 40px;
}

.knowledgecenter td {
  padding: 20px;
}

.knowledgecenter td:first-child {
  width: 250px;
}

.knowledgecenter td:last-child {
  width: 35px;
}

.knowledgecenter tr:nth-child(odd) {
  background-color:#FFFFFF;
}

.knowledgecenter tr:nth-child(even) {
  background-color:#F1F1F1;
}

.knowledgecenter tr td {
  border-top: 1px solid #c6c6c6;
}

.knowledgecenter tr.top td {
  border-top: 0px;
}

.download {
  margin-bottom: 10px;
  width: 24px;
  height: 24px;
  display: block;
  background: transparent url("../images/smartquote-download-icon.png") center top no-repeat;
}

.download:hover {
  background-image: url("../images/smartquote-download-icon-hover.png");
}

.knowledge_list li {
  margin-bottom: 15px;
}

.your-img {
  width: 300px;
  height: 170px;
  background-image: url("../images/SmartQuote_landing_sq_tutorial.png");
}

.your-hover {
  width: 300px;
  height: 170px;
  filter: alpha(opacity = 0);
  background-image: url("../images/SmartQuote_landing_video_player.png");
}

.your-hover:hover {
  filter: alpha(opacity = 50);
  background-image: url("../images/SmartQuote_landing_video_player_hover.png");
  cursor: pointer;
}

.hblue {
  background-color: transparent;
  background-image: url("../images/smartquote-horizontal-pattern-blue.png");
  background-repeat: repeat-x;
  min-height: 30px;
  line-height: 30px;
  height: 30px;
}

.img_quotes img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.img_quotes {
  margin-right: 15px;
}

.img_quotes:last-child {
  margin-right: 0px;
}

span {
  vertical-align: top;
  display: table-cell;
}