.order-details-header {
  h4 {
    margin-bottom: 30px;
    font-size: 22px;
  }
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f1f1f1;
}
.order-details-actions {
  padding: 39px 0 0 0;
  border-top: 1px solid #f1f1f1;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.modify-parts-btn {
  float: left;
}
.continue-checkout-btn {
  float: right;
}
.billing-details, .payment-details {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding-left: 19px;
  margin-top: 30px;
  h4 {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 0;
  }
}
.payment-details {
  &__item {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.delivery-details {
  box-sizing: border-box;
  margin-top: 30px;
  padding-left: 19px;
  h4 {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 0;
  }
}
.delivery-details-pickup {
  width: 50%;
  #pickup_span {
    display: inline-block;
    label {
      user-select: none;
    }
  }
  #pickup_form {
    margin-top: 15px;
    border-bottom: 1px solid #f1f1f1;
  }
}
.shipping-information {
  margin-top: 15px;
  width: 50%;
  margin-bottom: 15px;
  #cc_shipping {
    display: inline-block;
    margin-bottom: 15px;
    label {
      user-select: none;
    }
  }
  .shipping-information-inputs {
    border-bottom: 1px solid #f1f1f1;
  }
}
.shipping-carier {
  #carrier_span {
    display: inline-block;
    margin-bottom: 15px;
    label {
      user-select: none;
    }
  }
}