.part-materials-container {
  vertical-align: middle !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  .form-horizontal .control-label {
    width: 60px;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 60px;
  }
  .form-horizontal .control-group {
    text-align: right;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .form-horizontal {
    margin-bottom: 0;
    label.checkbox {
      margin-bottom: 0;
    }
  }
}
.part-quantity {
  vertical-align: middle !important;
  text-align: center !important;
  input {
    max-width: 40px;
    margin: 0 auto;
    display: inline-block;
  }
}
.part-finish {
  padding: 20px !important;
  vertical-align: middle !important;
}
.part-dimensions {
  padding: 20px !important;
  vertical-align: middle !important;
  &__dimensions {
    text-align: center;
    margin-bottom: 15px;
  }
}
.spinner-details {
  display: none;
}
.spinner-details[v-cloak] {
  padding-top: 5px;
  display: block;
}