.hgray {
  background-color: transparent;
  background-image: url("../images/smartquote-horizontal-pattern-grey-808080.png");
  background-repeat: repeat-x;
  min-height: 30px;
  line-height: 30px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bluehead {
  font-family: "Varela Round", sans-serif;
  color: #00c1d5;
  font-size: 24px;
  margin-bottom: 10px;
  background-color: white;
  display: inline-block;

}