.btn-clear {
  background-color: transparent !important;
  color: transparent !important;
}

.btn-tab {
  padding: 0px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  border-left: 40px solid transparent;
  border-bottom: 40px solid #666666;
  height: 0;
  line-height: 75px;
  width: 200px;
}

.get-quote-btn {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

.upload-btn {
  float:left;
  position:absolute;
  margin-top:5px;
  margin-left:5px;
}

.upload-section {
  margin-top: 35px;
}

.upload-section .upload-files {

}

.upload_top {
  background-image: url("../images/upload_top.jpg");
  width: 799px;
  height: 47px;
}

.sq-uploader-progressbar {
  width: 100%;
  display: inline-block;
  height: 20px;
  background: #888;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none;
  border-radius: 2px;

}
.sq-uploader-progressbar[value]::-webkit-progress-bar {
  display: block;
  height :1.0em;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
.sq-uploader-progressbar[value]::-webkit-progress-value {
  height: 20px;
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);

  background-size: 100% 20px, 100% 100%, 100% 100%;
  background-image:
          -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
          -webkit-linear-gradient(left, #74ff48, #67c42d);
}

.sq-uploader-progressbar[value] {
  height: 20px;
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  background-size: 100% 20px, 100% 100%, 100% 100%;
  background-image:
          linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
          linear-gradient(left, #74ff48, #67c42d);
}
.sq-uploader-progressbar[value]::-moz-progress-bar {
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  background-size: 1000% 20px, 100% 100%, 100% 100%;
  border-radius: 2px;
  background-image:
          -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
          -moz-linear-gradient(left, #74ff48, #67c42d);
  background-repeat: no-repeat;
}


.sq-uploader-progresscontainer {
  position: relative;
  width: 42%;
  height: 100px;
  padding: 1em;
  display:inline-block;
  background-color: #EEF;
  vertical-align: middle;
  text-align:center;
  border: 1px solid #AAA;
  border-radius: 5px;
  margin:2%;

}
.sq-uploader-progressstart {
  display: inline-block;
  width: 10%;
}
.sq-uploader-progresspercent {
  display: inline-block;
  width: 100%;
}

.sq-uploader-annotation {
  width:100%;
  margin-top: .25em;
  display:inline-block;
  text-align: center;
}

.sq-uploader-label {
  font-size: 14pt;
  font-weight: 700;
}
.sq-uploader-attribute {
  font-size: 14pt;
  font-weight: 200;
}
.sq-uploader-upload-destination {
  background-image: url("../images/upload.png");
  background-repeat: no-repeat;
  background-size: 225px 137px;
  background-position: 50% 65%;
}
.upload-files-separator {
  margin-top: 68px;
}
.sq-uploader-delete {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: #000;
  font-size: 14px;
}
.uploader[v-cloak] {
  display: none;
}
.uploader {
  display: block;
}
.modal {
  padding: 15px;
}