<template>
  <modal name="materialsModal" height="auto" :adaptive="true" :scrollable="true" @before-open="beforeOpen" @before-close="beforeClose" :clickToClose="false">
    <div class="details-modal">
      <div class="details-modal__header">
        <h4>Select a Material</h4>
        <span class="details-modal__close" @click="$modal.hide('materialsModal')"><i class="icon-remove"></i></span>
      </div>
      <div class="details-modal__body">
        <div v-if="selectedPart">
          <table v-if="materials.length">
            <tr
              :class="{ 'details-modal__item_active': material.id === selectedPart.material_id }"
              @click="selectMaterial(material)"
              class="details-modal__item" v-for="material in formattedMaterials" :key="material.id">
              <td>
                <h4>{{ material.title || material.name }}</h4>
              </td>
              <td>
                <div v-html="material.description"></div>
                <div class="details-modal__description-text" v-if="material.items.length">
                  <button @click="selectMaterial(item)" class="details-modal__btn" v-for="item in material.items" :key="item.id">{{ item.title }}</button>
                </div>
                <div class="details-modal__description-text" v-if="!!material.manual_quotation_required">
                  <strong>*Manual quotation required.</strong>
                </div>
              </td>
            </tr>
          </table>
          <div v-else><h4 style="text-align: center">Materials not found.</h4></div>
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
  import axios from 'axios';

  export default {
    props: {
      selectedPart: {
        type: Object,
        required: false
      }
    },
    data() {
      return {
        materials: []
      };
    },
    methods: {
      selectMaterial(material) {
        if (material.isGroup) {
          return;
        }
        this.$emit('select-material', material);
      },
      beforeOpen() {
        if (!this.selectedPart) return;
        const processId = this.selectedPart.process.id;
        axios.get(`/manufacturing/processes/${processId}/materials`).then((response) => {
          this.materials = response.data;
        });
        window.addEventListener('keydown', this.handleEscPress.bind(this));
      },
      beforeClose() {
        window.removeEventListener('keydown', this.handleEscPress.bind(this));
      },
      handleEscPress(event) {
        if (event.keyCode === 27) {
          this.$modal.hide('materialsModal');
        }
      },
    },
    computed: {
      formattedMaterials() {
        const result = [];
        const groups = [];
        for (let i = 0; i < this.materials.length; i++) {
          const material = this.materials[i];
          if (!material.group) {
            result.push({
              id: material.id,
              name: material.name,
              title: material.title,
              manual_quotation_required: material.manual_quotation_required,
              items: [],
              description: material.description
            });
          } else {
            const group = groups.find((g) => {
              return g.id === material.group.id;
            });
            if (group) {
              group.items.push({
                id: material.id,
                name: material.name,
                title: material.title,
                description: material.description
              });
            } else {
              groups.push({
                id: material.group.id,
                name: material.group.name,
                title: null,
                isGroup: true,
                manual_quotation_required: null,
                items: [
                  {
                    id: material.id,
                    name: material.name,
                    title: material.title,
                    description: material.description
                  }
                ],
                description: material.group.description
              });
            }
          }
        }
        const fullResult = [...result, ...groups];
        return fullResult.sort();
      }
    }
  }
</script>