<template>
  <modal name="processesModal" height="auto" :adaptive="true" :scrollable="true" @before-open="beforeOpen" @before-close="beforeClose" :clickToClose="false">
    <div class="details-modal">
      <div class="details-modal__header">
        <h4>Select a Process</h4>
        <span class="details-modal__close" @click="$modal.hide('processesModal')"><i class="icon-remove"></i></span>
      </div>
      <div class="details-modal__body">
        <div v-if="selectedPart">
          <table v-if="processes.length">
            <tr
              :class="{ 'details-modal__item_active': process.id === selectedPart.process_id }"
              class="details-modal__item" v-for="process in processes" :key="process.id"
              @click="selectProcess(process)">
              <td>
                <h4>{{ process.title }}</h4>
              </td>
              <td v-html="process.description"></td>
            </tr>
          </table>
          <div v-else><h4>Processes not found.</h4></div>
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
  import axios from 'axios';

  export default {
    props: {
      selectedPart: {
        type: Object,
        required: false
      }
    },
    data() {
      return {
        processes: []
      };
    },
    methods: {
      beforeOpen() {
        axios.get('/manufacturing/processes').then((response) => {
          this.processes = response.data;
        });
        window.addEventListener('keydown', this.handleEscPress.bind(this));
      },
      beforeClose() {
        window.removeEventListener('keydown', this.handleEscPress.bind(this));
      },
      handleEscPress(event) {
        if (event.keyCode === 27) {
          this.$modal.hide('processesModal');
        }
      },
      selectProcess(process) {
        this.$emit('select-process', process);
      }
    }
  }
</script>