<template>
  <modal name="reviewQuote" @opened="opened" height="auto" :adaptive="true" :scrollable="true" @before-open="beforeOpen" @before-close="beforeClose" :clickToClose="false">
    <div class="details-modal">
      <div class="details-modal__header">
        <h4>Reviewing Quote &mdash; Please Wait...</h4>
        <span class="details-modal__close" @click="$modal.hide('reviewQuote')"><i class="icon-remove"></i></span>
      </div>
      <div class="details-modal__body">
        <div style="padding: 15px">
          <img :src="loader" style="float:left; margin-right:20px; margin-bottom:10px;" />
          <p>
            SmartQuote is reviewing your files. Thank you for your
            patience.
          </p>
          <div class="progress progress-striped active">
            <div class="bar" :style="processStyle"></div>
          </div>
          <div>{{ processedFiles }} files processed.</div>
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
  import axios from 'axios';

  import loader from '../../../../images/smart-quote-loader.gif';

  export default {
    data() {
      return {
        loader,
        timer: null,
        totalFiles: 0,
        processedFiles: 0,
        source: null,
        requestSent: false
      }
    },
    methods: {
      opened() {
        const CancelToken = axios.CancelToken;
        this.source = CancelToken.source();
        const quoteId = location.pathname.split('/')[2];
        this.timer = setTimeout(() => {
          this.checkStatus(quoteId);
        }, 2000);
      },
      beforeOpen(event) {
        this.totalFiles = event.params.totalFiles;
        window.addEventListener('keydown', this.handleEscPress.bind(this));
      },
      beforeClose() {
        window.removeEventListener('keydown', this.handleEscPress.bind(this));
        if (this.requestSent) {
          this.source.cancel();
        }
        if (this.timer) {
          clearTimeout(this.timer);
          this.timer = null;
        }
      },
      handleEscPress(event) {
        if (event.keyCode === 27) {
          this.$modal.hide('reviewQuote');
        }
      },
      checkStatus(quoteId) {
        this.requestSent = true;
        axios.get(`/quotes/${quoteId}/parts/spreadsheet/status`, { cancelToken: this.source.token }).then((response) => {
          this.requestSent = false;
          this.totalFiles = response.data.total;
          this.processedFiles = response.data.processed;
          if (this.totalFiles) {
            if (this.totalFiles === this.processedFiles) {
              return location.assign(`/quotes/${quoteId}/review`);
            }
          }
          this.timer = setTimeout(() => {
            this.checkStatus(quoteId);
          }, 2000);
        });

      },
    },
    computed: {
      processStyle() {
        if (!this.totalFiles) {
          return {
            width: '0%'
          };
        }
        const width = (this.processedFiles / this.totalFiles) * 100;
        return {
          width: `${width}%`
        };
      }
    }
  }
</script>