<template>
  <tr class="item-name">
    <td class="item-picture" rowspan="2">
      <img :src="image">
    </td>
    <td colspan="4">
      <div>
        <b>Part:</b> {{ part.name }}
      </div>
      <span class="pull-right item-actions" style="display:inline">
        <button class="btn" @click="$emit('delete-part', part)">
          <i class="icon-trash icon-black"></i> Remove
        </button>
      </span>
    </td>
  </tr>
</template>
<script>
  export default {
    props: {
      part: {
        type: Object,
        required: true
      }
    },
    computed: {
      image() {
        return `/storage/orders/${this.part.order_id}/parts/${this.part.id}/1.jpg`;
      }
    }
  }
</script>