<template>
  <tr>
    <!-- Dimensions -->
    <td class="part-dimensions" style="background-color: #FFEC00;">
      <div class="part-dimensions__dimensions">
        <b>{{ part.x | formatNumber }}</b> &times;
        <b>{{ part.y | formatNumber }}</b> &times;
        <b>{{ part.z | formatNumber }}</b>
      </div>
      <div class="controls">
        <label class="radio">
          <input :disabled="isLocked" type="radio" value="mm" v-model="part.units"> Millimeters
        </label>
      </div>
      <div class="controls">
        <label class="radio">
          <input :disabled="isLocked" type="radio" value="in" v-model="part.units" /> Inches
        </label>
      </div>
    </td>
    <!-- Material -->
    <td class="part-materials-container">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" @click="showProcessesModal"><strong>Process:</strong></label>
          <div class="controls">
            <div class="input-append">
              <input class="span2" @click="showProcessesModal" :value="part.process.title" type="text" />
              <button class="btn" @click.prevent="showProcessesModal">
                <span class="caret"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" @click="showProcessesModal"><strong>Material:</strong></label>
          <div class="controls">
            <div class="input-append">
              <input class="span2" @click="showMaterialsModal" :value="material" type="text" />
              <button class="btn" @click.prevent="showMaterialsModal">
                <span class="caret"></span>
              </button>
            </div>
          </div>
        </div>
        <div style="text-align: center" v-if="isPolyjet">
          <div style="display: inline-block">
            <label class="checkbox">
              <input :disabled="isLocked" type="checkbox" v-model="part.multi_material" /> This part has multiple materials
            </label>
          </div>
        </div>
      </form>
    </td>

    <!-- Finish -->
    <td class="part-finish">
      <div v-if="isPolyjet">
        <div style="text-align: center; margin-bottom: 10px">
          <i class="icon-info-sign" v-tooltip="finishTooltip"></i>
        </div>
        <div class="controls">
          <label class="radio">
            <input :disabled="isLocked" type="radio" v-model="part.finish" value="glossy"> Glossy
          </label>
        </div>
        <div class="controls">
          <label class="radio">
            <input :disabled="isLocked" type="radio" v-model="part.finish" value="matte"> Matte
          </label>
        </div>
      </div>
      <div v-if="isSls || isFdm || isSla">
        <div class="controls">
          <label class="radio">
            <input :disabled="isLocked" type="radio" v-model="part.finish" value="standard"> Standard
          </label>
        </div>
      </div>
      <div class="controls" v-if="isCnc || isUc">
        <label class="radio">
          <input :disabled="isLocked" type="radio" v-model="part.finish" value="manual" /> Specify in comments
        </label>
      </div>
    </td>

    <td class="part-quantity">
      <input :disabled="isLocked"  type="number" min="1" v-model="part.quantity" />
    </td>
  </tr>
</template>
<script>
  export default {
    props: {
      part: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        finishTooltip: {
          content: '<b>Matte:</b> Uniform finish that is ideal for post-processing such as sanding, painting, etc.<br><b>Glossy:</b> Stronger and smoother surface that is ideal for fine details.<br><br> You may read more <a href="/static/img/matte_v_glossy.pdf" target="_blank">here</a>',
          trigger: 'hover',
          autoHide: false,
          classes: ['info']
        }
      };
    },
    filters: {
      formatNumber(value) {
        if (!value) return 0.00;
        return parseFloat(value).toFixed(2);
      }
    },
    methods: {
      showProcessesModal() {
        this.$emit('show-modal', { part: this.part, type: 'processesModal' });
      },
      showMaterialsModal() {
        this.$emit('show-modal', { part: this.part, type: 'materialsModal' });
      }
    },
    computed: {
      isLocked() {
        return !!this.part.locked;
      },
      isPolyjet() {
        return this.part.process.name === 'polyjet';
      },
      isFdm() {
        return this.part.process.name === 'fdm';
      },
      isSls() {
        return this.part.process.name === 'sls';
      },
      isCnc() {
        return this.part.process.name === 'cnc';
      },
      isUc() {
        return this.part.process.name === 'uc';
      },
      isSla() {
        return this.part.process.name === 'sla';
      },
      material() {
        return this.part.material ? this.part.material.name : 'Select material';
      }
    }
  }
</script>